<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <div>

        <form action="/login" method="post" class="register-form">

            <div>
                <input type="email" name="email" placeholder="email">
            </div>
            <div>
                <input type="password" name="password" placeholder="password">
            </div>
            <button type="submit">Login</button>
        </form>
    </div>
</body>
</html>