<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <div>

        <form action="/register" method="post" class="register-form">
            <div>
                <input type="username" name="username" placeholder="username">
            </div>
            <div>
                <input type="email" name="email" placeholder="email">
            </div>
            <div>
                <input type="password" name="password" placeholder="password">
            </div>
            <div>
                <input type="password" name="confirmation" placeholder="confirmation">
            </div>
            <button type="submit">Register</button>
        </form>
    </div>
</body>
</html>